{% extends 'base.html.twig' %}

{% block body %}
<div class="categories-block">
    {% for category in categories %}
        <a href="{{ path("app_articleByCategory", {id: category.id}) }}" class="category categories">{{category.name}}</a>
    {% endfor %}
</div>
    {% for article in articles %}
    <div class="article-list">
        <div class="article-text">
            <div class="article-title">{{article.title}}</div>
                <div class="article-description">{{article.description}}</div>
                <div class="carac-article">
                    <a href=# class="article-moreinfo">Voir les commentaires</a>
                    <button class="category-article" style="background-color: #{{article.category.color}}">{{article.category.name}}</button>
                </div>
                
        </div>
        <img class="article-image" src='{{article.image}}' alt='{{article.title}}'>
    
</div>
    {% endfor %}

{% endblock %}
